* {
    box-sizing: border-box;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-align: justify;
    font-family: garamond;
    animation: 3s fadeIn ease-in-out;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}
header {
    text-align: center;
}
h1, h2, h3, h4, h6 {
    font-family: "Playbill", serif;
    margin: 0;
    white-space: nowrap;
}
h1 {
    font-size: 8em;
    margin-top: 15px;
    letter-spacing: 10px;
}
h6 {
    font-size: 2em;
}
h6:after {
    content: "...........................................";
    display: block;
    position: relative;
    top: -20px;
    letter-spacing: -10px;
    font-size: 4rem;
    font-family: monospace;
}
h5 {
    font-size: 1em;
    text-align: center;
    margin: 0;
}
h3 {
    font-size: 5.5vw;
}
p {
    font-size: 1.1em;
}
#date {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 2px dotted black;
    padding: 5px 12px;
}
#main {
    width: 70%;
    margin: 0 auto;
    border-left: solid 1px black;
    border-right: solid 1px black;
    padding: 0 20px;
}
h2 {
    word-spacing: -5px;
    text-align: center;
    line-height: .9;
    white-space: nowrap;
}
h2:first-child {
    font-size: 24.8vw;
    letter-spacing: .1em;
    margin-top: -50px;
}
h2:nth-child(2) {
    font-size: 10.4vw;
    letter-spacing: .35em;
}
h2:nth-child(3) {
    font-size: 14.1vw;
    letter-spacing: .55em;
}
#main-article p {
    -webkit-columns: 200px 3;
    -moz-columns: 200px 3;
    columns: 200px 3;
}
#table-of-contents {
    line-height: 1;
    border: dashed 1px black;
    padding: 10px 25px;
}
#table-of-contents p {
    margin: 0;
    line-height: 1.15;
}
.side {
    position: absolute;
    width: 13%;
    top: 30%;
}
.side em {
    display: block;
    text-align: right;
    margin-top: 5px;
}
#left {
    left: 15px;
}
#right {
    right: 15px;
}
.ad h3 {
    white-space: normal;
    font-size: 5.8vw;
}
#ad1 h3:first-child {
    font-size: 3.5vw;
    letter-spacing: .06em;
}
#ad1 h3:nth-child(2) {
    letter-spacing: .17em;
}
#ad1 h3:nth-child(3) {
    letter-spacing: .35em;
}
#ad1 h3:nth-child(4) {
    letter-spacing: .33em;
}
#ad2 h3:first-child {
    font-size: 3.3vw;
    white-space: nowrap;
}
.ad img {
    width: 100%;
    margin: 10px auto 0;
}
#page-number {
    position: relative;
    bottom: 0;
    text-align: center;
}
.side-article:first-of-type h3:first-child {
    font-size: 9.4vw;
}
.side-article:first-of-type h3:nth-child(2) {
    font-size: 3.55vw;
    letter-spacing: .14em;
}
.side-article:last-of-type h3:first-child {
    font-size: 4vw;
}
.side-article:last-of-type h3:nth-child(2) {
    font-size: 5vw;
}
.side-article:last-of-type h3:nth-child(4) {
    font-size: 4.5vw;
}
